@if (!loggedIn) {
<h4> Please login to report a lost item </h4>
} @else if (!added) {
<form>
  <div class="form-group">
    <label for="itemName">Name</label>
    <input type="text" class="form-control" id="itemName" [(ngModel)]="item.name" name="name">
  </div>
  <div class="form-group">
    <label for="itemDesc">Description</label>
    <textarea 
      class="form-control" id="itemDesc" rows="2" [(ngModel)]="item.description" name="description">
    </textarea>
  </div>
  <div class="form-group">
    <label for="itemLoc">Location found near</label>
    <select class="form-control" id="itemLoc" [(ngModel)]="item.loc_name" name="loc_name">
      @for (loc of locations; track loc.id; let i = $index) {
      <option value={{loc.id}}> {{ loc.name }}</option>
      }
    </select>
  </div>
  <button (click)="submitItem()" type="submit" class="btn btn-primary">Submit</button>
</form>
} @else {
<h4> Thanks for reporting! </h4>
<button (click)="addAnother()" type="submit" class="btn btn-primary">Report another item</button>
}